apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Values.namespace }}
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8123
    targetPort: 8123
    protocol: TCP
---
apiVersion: v1
kind: Endpoints
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Values.namespace }}
  annotations:
    argocd.argoproj.io/sync-options: Prune=false
subsets:
- addresses:
  - ip: {{ .Values.external.ip }}
  ports:
  - name: http
    port: {{ .Values.external.port }}
    protocol: TCP
