image: ollama/ollama:0.13.4
namespace: ai-services

storage:
  appdataBasePath: /mnt/hdd2/ollama-models
  volumes:
  - name: config
    subPath: config
    podPath: /root/.ollama
    type: DirectoryOrCreate
    readOnly: false

service:
  type: ClusterIP
  ports:
  - name: ollama
    containerPort: 11434
    externalPort: 11434
    protocol: TCP