image: lscr.io/linuxserver/code-server:4.108.2
namespace: utility-services

host:
  subdomain: code

secrets:
  domain:
    key: primaryDomain
    path: kv/data/domains

storage:
  appdataBasePath: /srv/appdata/utility-services/code-server
  volumes:
  - name: config
    subPath: config
    podPath: /config
    type: DirectoryOrCreate

service:
  type: ClusterIP
  ports:
  - name: http
    containerPort: 8443
    externalPort: 8443
    protocol: TCP
  