# https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
namespace: core-services

# Configuration values for templates
letsencryptPath: /srv/appdata/core-services/letsencrypt

whoami:
  enabled: false
  host:
    subdomain: whoami
  secrets:
    primaryDomain:
      key: primaryDomain
      path: kv/data/domains
    localDomain:
      key: localDomain
      path: kv/data/domains
traefik:
  namespaceOverride: core-services
  deployment: 
    revisionHistoryLimit: 1
    podAnnotations:
      vault.hashicorp.com/agent-inject: "true"
      vault.hashicorp.com/role: "core-services"
      vault.hashicorp.com/agent-inject-secret-crowdsec-bouncer-key: "kv/data/core-services/crowdsec"
      vault.hashicorp.com/agent-inject-template-crowdsec-bouncer-key: |
        {{ `{{- with secret "kv/data/core-services/crowdsec" -}}` }}
        {{ `{{ .Data.data.BOUNCER_KEY_traefik }}` }}
        {{ `{{- end -}}` }}
  podSecurityContext:
    runAsGroup: 1000
    runAsUser: 1000
  providers:
    kubernetesCRD:
      allowCrossNamespace: true
    kubernetesIngress:
      publishedService:
        enabled: true
  service:
    spec:
      externalTrafficPolicy: Local
  ports:
    traefik:
      exposedPort: 8082
      expose:
        default: true
    web:
      forwardedHeaders:
        trustedIPs: &trustedIps
          - 173.245.48.0/20
          - 103.21.244.0/22
          - 103.22.200.0/22
          - 103.31.4.0/22
          - 141.101.64.0/18
          - 108.162.192.0/18
          - 190.93.240.0/20
          - 188.114.96.0/20
          - 197.234.240.0/22
          - 198.41.128.0/17
          - 162.158.0.0/15
          - 104.16.0.0/13
          - 104.24.0.0/14
          - 172.64.0.0/13
          - 131.0.72.0/22
          - 2400:cb00::/32
          - 2606:4700::/32
          - 2803:f800::/32
          - 2405:b500::/32
          - 2405:8100::/32
          - 2a06:98c0::/29
          - 2c0f:f248::/32

      redirections: 
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

    websecure:
      forwardedHeaders:
        trustedIPs: *trustedIps

  certificatesResolvers: 
    letsencrypt:
      acme:
        storage: /letsencrypt/acme.json
        httpChallenge:
          entryPoint: "web"
        dnsChallenge:
          provider: cloudflare
  env:
    - name: TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_EMAIL
      valueFrom:
        secretKeyRef:
          name: traefik
          key: ACME_EMAIL
    - name: CF_DNS_API_TOKEN
      valueFrom:
        secretKeyRef:
          name: traefik
          key: CF_DNS_API_TOKEN
  persistence:
    enabled: true
    name: letsencrypt
    path: /letsencrypt
    storageClass: manual
  ingressRoute:
    dashboard:
      enabled: true
  logs:
    access:
      enabled: true
      fields:
        headers: 
          defaultmode: drop
  experimental:
    plugins:
      bouncer:
        moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
        version: v1.4.6