apiVersion: networking.alm.homelab/v1
kind: IngressRequest
metadata:
  name: {{ .Release.Name }}
spec:
  vaultPath: {{ .Values.secrets.domain.path }}
  domainKey: {{ .Values.secrets.domain.key }}
  serviceName: kubernetes
  serviceNamespace: default
  servicePort: "443"
  subdomain: {{ .Values.host.subdomain }}
  entrypoints:
    - websecure
  middlewares:
    - name: bouncer
      namespace: core-services
  serversTransport: kubernetes-api-transport
  tls:
    certResolver: letsencrypt