image: koenkk/zigbee2mqtt:2.7.1
namespace: home-automation
ports:
- name: web
  containerPort: 8080
  externalPort: 8080
  protocol: TCP
volumes:
- name: data
  hostPath: /srv/appdata/home-automation/zigbee2mqtt/data
  podPath: /app/data
  type: DirectoryOrCreate
  readOnly: false
- name: udev
  hostPath: /run/udev
  podPath: /run/udev
  type: Directory
  readOnly: true
