image: dpage/pgadmin4:9.12
namespace: core-services
ports:
- name: pgadmin4
  containerPort: 80
  externalPort: 5050
  protocol: TCP

volumes:
- name: config
  hostPath: /srv/appdata/core-services/pgadmin/data
  podPath: /var/lib/pgadmin
  type: DirectoryOrCreate
