repoUrl: https://github.com/floryn08/homeserver-deployment
project: default
argocdNamespace: core-services
targetRevision: HEAD
server: https://kubernetes.default.svc
namespace: game-servers

vault:
  url: http://vault.core-services.svc:8200
  authType: kubernetes
  mount: kubernetes

syncPolicy:
  automated:
    prune: true

valheim:
  path: charts/apps/game-servers/valheim

minecraft:
  path: charts/apps/game-servers/minecraft

romm:
  path: charts/apps/game-servers/romm

retroarch:
  path: charts/apps/game-servers/retroarch
