{{- range .Values.storage.volumes }}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ $.Release.Name }}-{{ .name }}-pv
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: {{ $.Values.storage.appdataBasePath }}/{{ .subPath }}
    type: {{ .type }}
{{- end }}
