namespace: core-services

host:
  subdomain: authentik

secrets:
  domain:
    key: primaryDomain
    path: kv/data/domains

authentik:
  global:
    env:
      - name: AUTHENTIK_SECRET_KEY
        valueFrom:
          secretKeyRef:
            name: authentik
            key: AUTHENTIK_SECRET_KEY

      # postgres config
      - name: AUTHENTIK_POSTGRESQL__HOST
        value: postgresql.core-services.svc
      - name: AUTHENTIK_POSTGRESQL__PORT
        value: 5432
      - name: AUTHENTIK_POSTGRESQL__NAME
        value: authentik
      - name: AUTHENTIK_POSTGRESQL__USER
        valueFrom:
          secretKeyRef:
            name: authentik
            key: AUTHENTIK_POSTGRESQL__USER
      - name: AUTHENTIK_POSTGRESQL__PASSWORD
        valueFrom:
          secretKeyRef:
            name: authentik
            key: AUTHENTIK_POSTGRESQL__PASSWORD

      # email config
      - name: AUTHENTIK_EMAIL__HOST
        valueFrom:
          secretKeyRef:
            name: authentik
            key: AUTHENTIK_EMAIL__HOST
      - name: AUTHENTIK_EMAIL__USERNAME
        valueFrom:
          secretKeyRef:
            name: authentik
            key: AUTHENTIK_EMAIL__USERNAME
      - name: AUTHENTIK_EMAIL__PASSWORD
        valueFrom:
          secretKeyRef:
            name: authentik
            key: AUTHENTIK_EMAIL__PASSWORD
      - name: AUTHENTIK_EMAIL__FROM
        valueFrom:
          secretKeyRef:
            name: authentik
            key: AUTHENTIK_EMAIL__FROM
      - name: AUTHENTIK_EMAIL__PORT
        value: 587
      - name: AUTHENTIK_EMAIL__USE_TLS
        value: false
      - name: AUTHENTIK_EMAIL__USE_SSL
        value: false
      - name: AUTHENTIK_EMAIL__TIMEOUT
        value: 30

  authentik:
    log_level: trace

  server:    
    containerPorts:
      http: 8094
      https: 8095
    service:
      type: LoadBalancer
      servicePortHttp: 8094
      servicePortHttps: 8095

  postgresql:
    enabled: false

  redis:
    enabled: false
