# https://github.com/argoproj/argo-helm/blob/main/charts/argo-cd/values.yaml
namespace: &namespace core-services

host:
  subdomain: argocd

secrets:
  domain:
    key: homeDomain
    path: kv/data/domains

argo-cd:
  namespaceOverride: *namespace
  # global:
  #   domain: argocd.$domains:homeDomain

  # https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/#sensitive-data-and-sso-client-secrets
  configs:
    cm:
      accounts.readonly: apiKey
      exec.enabled: true
      # oidc.tls.insecure.skip.verify: "true"
      url: https://argocd.home
      dex.config: |
        connectors:
        - config: 
            issuer: $argo-cd-vault:dex.authentik.issuer
            clientID: $argo-cd-vault:dex.authentik.clientId
            clientSecret: $argo-cd-vault:dex.authentik.clientSecret
            insecureEnableGroups: true
            scopes:
              - openid
              - profile
              - email
          name: authentik
          type: oidc
          id: authentik

    params:
      application.namespaces: "*"
    rbac:
      policy.csv: |
        g, ArgoCD Admins, role:admin
        g, ArgoCD Viewers, role:readonly
        g, readonly, role:readonly

  dex: 
    enabled: true

  server:
    service:
      type: ClusterIP

    extraArgs:
      - --insecure

    ingress:
      enabled: false


  