# https://github.com/argoproj/argo-helm/blob/main/charts/argo-cd/values.yaml
namespace: &namespace core-services

host:
  subdomain: argocd

secrets:
  domain:
    key: homeDomain
    path: kv/data/domains

argo-cd:
  namespaceOverride: *namespace
  # global:
  #   domain: argocd.$domains:homeDomain

  # https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/#sensitive-data-and-sso-client-secrets
  configs:
    cm:
      accounts.readonly: apiKey
      exec.enabled: true
      # oidc.tls.insecure.skip.verify: "true"
      url: https://argocd.home
      resource.exclusions: |
        - apiGroups:
          - ''
          - discovery.k8s.io
          kinds:
          - EndpointSlice
        - apiGroups:
          - coordination.k8s.io
          kinds:
          - Lease
        - apiGroups:
          - authentication.k8s.io
          - authorization.k8s.io
          kinds:
          - SelfSubjectReview
          - TokenReview
          - LocalSubjectAccessReview
          - SelfSubjectAccessReview
          - SelfSubjectRulesReview
          - SubjectAccessReview
        - apiGroups:
          - certificates.k8s.io
          kinds:
          - CertificateSigningRequest
        - apiGroups:
          - cert-manager.io
          kinds:
          - CertificateRequest
        - apiGroups:
          - cilium.io
          kinds:
          - CiliumIdentity
          - CiliumEndpoint
          - CiliumEndpointSlice
        - apiGroups:
          - kyverno.io
          - reports.kyverno.io
          - wgpolicyk8s.io
          kinds:
          - PolicyReport
          - ClusterPolicyReport
          - EphemeralReport
          - ClusterEphemeralReport
          - AdmissionReport
          - ClusterAdmissionReport
          - BackgroundScanReport
          - ClusterBackgroundScanReport
          - UpdateRequest
      dex.config: |
        connectors:
        - config: 
            issuer: $argo-cd-vault:dex.authentik.issuer
            clientID: $argo-cd-vault:dex.authentik.clientId
            clientSecret: $argo-cd-vault:dex.authentik.clientSecret
            insecureEnableGroups: true
            scopes:
              - openid
              - profile
              - email
          name: authentik
          type: oidc
          id: authentik

    params:
      application.namespaces: "*"
    rbac:
      policy.csv: |
        g, ArgoCD Admins, role:admin
        g, ArgoCD Viewers, role:readonly
        g, readonly, role:readonly

  dex: 
    enabled: true

  server:
    service:
      type: ClusterIP

    extraArgs:
      - --insecure

    ingress:
      enabled: false


  