namespace: &namespace utility-services

host:
  subdomain: pdf

secrets:
  domain:
    key: primaryDomain
    path: kv/data/domains


stirling-pdf-chart:

  image: 
    tag: 2.0.2
    repository: stirlingtools/stirling-pdf
    registry: docker.stirlingpdf.com

  ingress:
    enabled: false

  persistence:
    enabled: true
    existingClaim: stirling-pdf

  envs:
    - name: LANGS
      value: "ro_RO,en_GB,en_US,de_DE,fr_FR,es_ES,it_IT,tr_TR,el_GR,hu_HU"
    - name: METRICS_ENABLED
      value: "true"
    - name: DISABLE_ADDITIONAL_FEATURES
      value: "false"
    - name: SECURITY_ENABLELOGIN
      value: "true"
    - name: SECURITY_LOGINMETHOD
      value: "all"
    - name: SECURITY_OAUTH2_ENABLED
      value: "true"
    - name: SECURITY_OAUTH2_AUTOCREATEUSER
      value: "true"
    - name: SECURITY_OAUTH2_BLOCKREGISTRATION
      value: "false"
    - name: SECURITY_OAUTH2_USEASUSERNAME
      value: "email"
    - name: SECURITY_OAUTH2_SCOPES
      value: "openid,profile,email"
    - name: SECURITY_OAUTH2_PROVIDER
      value: "authentik"
    - name: SECURITY_OAUTH2_ISSUER
      valueFrom:
        secretKeyRef:
          name: stirling-pdf-oauth2
          key: SECURITY_OAUTH2_ISSUER
    - name: SECURITY_OAUTH2_CLIENTID
      valueFrom:
        secretKeyRef:
          name: stirling-pdf-oauth2
          key: SECURITY_OAUTH2_CLIENTID
    - name: SECURITY_OAUTH2_CLIENTSECRET
      valueFrom:
        secretKeyRef:
          name: stirling-pdf-oauth2
          key: SECURITY_OAUTH2_CLIENTSECRET
