# https://github.com/Stirling-Tools/Stirling-PDF-chart/blob/main/charts/stirling-pdf/values.yaml
namespace: &namespace utility-services

host:
  subdomain: pdf

secrets:
  domain:
    key: primaryDomain
    path: kv/data/domains

storage:
  appdataBasePath: /srv/appdata

stirling-pdf-chart:

  image: 
    tag: 2.3.0
    repository: stirlingtools/stirling-pdf
    registry: docker.stirlingpdf.com

  ingress:
    enabled: false

  persistence:
    enabled: true
    existingClaim: stirling-pdf
  
  probes:
    liveness:
      enabled: false
      
    readiness:
      enabled: false

  deployment:
    extraVolumeMounts:
      - name: storage-volume
        mountPath: /configs
        subPath: configs
      - name: storage-volume
        mountPath: /usr/share/tessdata
        subPath: tessdata
      - name: storage-volume
        mountPath: /pipeline
        subPath: pipeline
      - name: storage-volume
        mountPath: /logs
        subPath: logs

  envs:
    - name: LANGS
      value: "ro_RO,en_GB,en_US,de_DE,fr_FR,es_ES,it_IT,tr_TR,el_GR,hu_HU"
    - name: METRICS_ENABLED
      value: "true"
    - name: DISABLE_ADDITIONAL_FEATURES
      value: "false"
    - name: SECURITY_ENABLELOGIN
      value: "true"
    - name: SECURITY_LOGINMETHOD
      value: "oauth2"
    - name: SECURITY_OAUTH2_ENABLED
      value: "true"
    - name: SECURITY_OAUTH2_AUTOCREATEUSER
      value: "true"
    - name: SECURITY_OAUTH2_BLOCKREGISTRATION
      value: "false"
    - name: SECURITY_OAUTH2_USEASUSERNAME
      value: "email"
    - name: SECURITY_OAUTH2_SCOPES
      value: "openid,profile,email"
    - name: SECURITY_OAUTH2_PROVIDER
      value: "authentik"
    - name: SECURITY_OAUTH2_ISSUER
      valueFrom:
        secretKeyRef:
          name: stirling-pdf-oauth2
          key: SECURITY_OAUTH2_ISSUER
    - name: SECURITY_OAUTH2_CLIENTID
      valueFrom:
        secretKeyRef:
          name: stirling-pdf-oauth2
          key: SECURITY_OAUTH2_CLIENTID
    - name: SECURITY_OAUTH2_CLIENTSECRET
      valueFrom:
        secretKeyRef:
          name: stirling-pdf-oauth2
          key: SECURITY_OAUTH2_CLIENTSECRET
