image: linuxserver/bazarr:1.5.6
namespace: media-management

host:
  subdomain: bazarr

secrets:
  homeDomain:
    key: homeDomain
    path: kv/data/domains

storage:
  appdataBasePath: /srv/appdata/media-management/bazarr
  volumes:
  - name: config
    subPath: config
    podPath: /config
    type: DirectoryOrCreate
    readOnly: false

service:
  type: ClusterIP
  ports:
  - name: http
    containerPort: 6767
    externalPort: 6767
    protocol: TCP