apiVersion: networking.alm.homelab/v1
kind: IngressRequest
metadata:
  name: {{ .Release.Name }}
spec:
  vaultPath: {{ .Values.secrets.domain.path }}
  domainKey: {{ .Values.secrets.domain.key }}
  serviceName: argo-cd-argocd-server
  servicePort: http
  subdomain: {{ .Values.host.subdomain }}
  entrypoints:
    - websecure
  tls:
    secretName: {{ .Release.Name }}-certificate-secret