apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}
  replicas: 1
  revisionHistoryLimit: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}
    spec:
      volumes:
        - name: {{ .Release.Name }}
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}
      containers:
      - name: {{ .Release.Name }}
        image: {{ .Values.image }}
        imagePullPolicy: IfNotPresent
        envFrom:        
        - configMapRef:
            name: {{ .Release.Name }}
        env:
          - name: BASE_URL
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}
                key: BASE_URL
          - name: OIDC_USER_GROUP
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}
                key: OIDC_USER_GROUP
          - name: OIDC_ADMIN_GROUP
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}
                key: OIDC_ADMIN_GROUP
          - name: OIDC_CONFIGURATION_URL
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}
                key: OIDC_CONFIGURATION_URL
          - name: OIDC_CLIENT_ID
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}
                key: OIDC_CLIENT_ID
          - name: OIDC_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}
                key: OIDC_CLIENT_SECRET

        ports:
        {{- range $key, $val := $.Values.service.ports }}
        - containerPort: {{ $val.containerPort }}
          name: {{ $val.name }}
          protocol: {{ $val.protocol }}
        {{ end -}}
        volumeMounts:
        {{- range $index, $val := $.Values.storage.volumes }}
        - mountPath: {{ $val.podPath }}
          name: {{ $.Release.Name }}
          subPath: {{ $val.subPath }}
        {{ end -}}
