namespace: media-management

host:
  subdomain: immich

secrets:
  primaryDomain:
    key: primaryDomain
    path: kv/data/domains
  homeDomain:
    key: homeDomain
    path: kv/data/domains

middleware:
  buffering:
    maxRequestBodyBytes: 0
    memRequestBodyBytes: 2147483648
    maxResponseBodyBytes: 0
    memResponseBodyBytes: 2147483648
    retryExpression: "isNetworkError()"

storage:
  appdataBasePath: /srv/appdata
  immichDataPath: /mnt/hdd2/immich/library
  immichPostgresDataPath: /srv/appdata/media-management/immich/postgres

# https://github.com/immich-app/immich-charts/blob/main/charts/immich/values.yaml
immich:

  immich:
    persistence:
      library:
        existingClaim: "immich-data-pvc"

  valkey:
    enabled: true

  server:
    persistence:
      external:
        enabled: true
        type: hostPath
        hostPath: /mnt/hdd2/GooglePhotosExport

    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.3.1
            env:
              REDIS_HOSTNAME: '{{ printf "%s-valkey" .Release.Name }}'
              IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'
              DB_HOSTNAME: "{{ .Release.Name }}-postgresql"
              DB_USERNAME: immich
              DB_DATABASE_NAME: immich

            # for DB_PASSWORD
            envFrom:
              - secretRef:
                  name: immich
            probes:
              startup:
                spec:
                  failureThreshold: 360
    


  machine-learning:
    controllers:
      main:
        containers:
          main:
            image:  
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.3.1

# https://github.com/bitnami/charts/blob/main/bitnami/postgresql/values.yaml
postgresql:
  image:
    registry: ghcr.io
    repository: immich-app/postgres
    tag: 16-vectorchord0.3.0-pgvectors0.2.0
  primary:
    persistence:
      storageClass: manual
      existingClaim: immich-postgres-data-pvc
    containerSecurityContext:
      readOnlyRootFilesystem: false
    resourcesPreset: large
  global:
    security:
      allowInsecureImages: true
    postgresql:
      auth:
        username: immich
        database: immich
        existingSecret: immich
        secretKeys:
          adminPasswordKey: postgres-password
          userPasswordKey: postgres-user-password