{{- if .Values.whoami.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: whoami
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: whoami
  template:
    metadata:
      labels:
        app: whoami
    spec:
      containers:
        - name: whoami
          image: traefik/whoami
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: whoami
  namespace: {{ .Values.namespace }}
spec:
  ports:
    - name: http
      port: 80
      targetPort: 80
  selector:
    app: whoami
---
apiVersion: networking.alm.homelab/v1
kind: IngressRequest
metadata:
  name: whoami
spec:
  vaultPath: {{ .Values.whoami.secrets.primaryDomain.path }}
  domainKey: {{ .Values.whoami.secrets.primaryDomain.key }}
  serviceName: whoami
  servicePort: http
  subdomain: {{ .Values.whoami.host.subdomain }}
  entrypoints:
    - websecure
  middlewares:
    - name: bouncer
      namespace: core-services
  tls:
    certResolver: letsencrypt
---
apiVersion: networking.alm.homelab/v1
kind: CertificateRequest
metadata:
  name: whoami-local-certificaterequest
  namespace: {{ .Values.namespace }}
spec:
  domainKey: {{ .Values.whoami.secrets.localDomain.key }}
  secretName: whoami-certificate-secret
  subdomain: {{ .Values.whoami.host.subdomain }}
  vaultPath: {{ .Values.whoami.secrets.localDomain.path }}
---
apiVersion: networking.alm.homelab/v1
kind: IngressRequest
metadata:
  name: whoami-local
spec:
  vaultPath: {{ .Values.whoami.secrets.localDomain.path }}
  domainKey: {{ .Values.whoami.secrets.localDomain.key }}
  serviceName: whoami
  servicePort: http
  subdomain: {{ .Values.whoami.host.subdomain }}
  entrypoints:
    - websecure
  tls:
    secretName: whoami-certificate-secret
{{- end }}