repoUrl: https://github.com/floryn08/homeserver-deployment
project: default
argocdNamespace: core-services
targetRevision: HEAD
server: https://kubernetes.default.svc
namespace: utility-services

vault:
  url: http://vault.core-services.svc:8200
  authType: kubernetes
  mount: kubernetes

syncPolicy:
  automated:
    prune: true

netronome:
  path: charts/apps/utility-services/netronome

vaultwarden:
  path: charts/apps/utility-services/vaultwarden

wireguard:
  path: charts/apps/utility-services/wireguard

paperlessNgx:
  path: charts/apps/utility-services/paperless-ngx

changedetection:
  path: charts/apps/utility-services/changedetection

homepage:
  path: charts/apps/utility-services/homepage

scrutiny:
  path: charts/apps/utility-services/scrutiny

codeServer:
  path: charts/apps/utility-services/code-server

flaresolverr:
  path: charts/apps/utility-services/flaresolverr

stirlingPdf:
  path: charts/apps/utility-services/stirling-pdf

onlyoffice:
  path: charts/apps/utility-services/onlyoffice

wikijs:
  path: charts/apps/utility-services/wikijs

mealie:
  path: charts/apps/utility-services/mealie