image: technitium/dns-server:14.3.0
namespace: utility-services

storage:
  appdataBasePath: /srv/appdata
  volumes:
  - name: config
    subPath: config
    podPath: /etc/dns
    type: DirectoryOrCreate

service:
  type: LoadBalancer
  ports:
  - name: http
    containerPort: 5380
    externalPort: 5380
    protocol: TCP
  - name: tcp
    containerPort: 53
    externalPort: 53
    protocol: TCP
  - name: udp
    containerPort: 53
    externalPort: 53
    protocol: UDP