image: linuxserver/jellyfin:10.11.3
namespace: media-management

resources:
  limits:
    memory: 1.5Gi

host:
  subdomain: jellyfin

secrets:
  primaryDomain:
    key: primaryDomain
    path: kv/data/domains
  homeDomain:
    key: homeDomain
    path: kv/data/domains

storage:
  appdataBasePath: /srv/appdata/media-management/jellyfin
  volumes:
  - name: config
    subPath: config
    podPath: /config
    type: DirectoryOrCreate
    readOnly: false

service:
  type: ClusterIP
  ports:
  - name: http
    containerPort: 8096
    externalPort: 8096
    protocol: TCP
  - name: https
    containerPort: 8920
    externalPort: 8920
    protocol: TCP
  - name: media
    containerPort: 7359
    externalPort: 7359
    protocol: UDP
