apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: vaultstaticsecret-{{ .Release.Name }}
  namespace: {{ .Values.namespace }}
spec:
  vaultAuthRef: vaultauth-{{ .Values.namespace }}
  mount: kv
  type: kv-v2
  path: {{ .Values.namespace }}/{{ .Release.Name }}
  destination:
    name: {{ .Release.Name }}
    create: true
    overwrite: true
    transformation:
      templates:
        AMQP_URI: 
          text: | 
            amqp://user:{{ "{{-" }} printf "%s" (get .Secrets "rabbitmqPassword") {{ "-}}" }}@onlyoffice-rabbitmq/?frameMax=0
