image: ghcr.io/home-assistant/home-assistant:2025.11.0
namespace: home-automation
ports:
- name: http
  containerPort: 8123
  externalPort: 8123
  protocol: TCP
volumes:
- name: config
  hostPath: /srv/appdata/home-automation/homeassistant
  podPath: /config
  type: DirectoryOrCreate

