image: mbentley/omada-controller:6.0.0.24
namespace: utility-services

host:
  subdomain: omada

secrets:
  domain:
    key: homeDomain
    path: kv/data/domains

storage:
  appdataBasePath: /srv/appdata/utility-services/omada
  volumes:
  - name: data
    subPath: data
    podPath: /opt/tplink/EAPController/data
    type: DirectoryOrCreate
  - name: logs
    subPath: logs
    podPath: /opt/tplink/EAPController/logs
    type: DirectoryOrCreate

service:
  type: LoadBalancer
  ports:
  - name: http
    containerPort: 8088
    externalPort: 8087
    protocol: TCP
  