repoUrl: https://github.com/floryn08/homeserver-deployment
project: default
argocdNamespace: core-services
targetRevision: HEAD
server: https://kubernetes.default.svc
namespace: media-management

vault:
  url: http://vault.core-services.svc:8200
  authType: kubernetes
  mount: kubernetes

syncPolicy:
  automated:
    prune: true

agregarr:
  path: charts/apps/media-management/agregarr

autobrr:
  path: charts/apps/media-management/autobrr

jellyfin:
  path: charts/apps/media-management/jellyfin

sonarr:
  path: charts/apps/media-management/sonarr

radarr:
  path: charts/apps/media-management/radarr

bazarr:
  path: charts/apps/media-management/bazarr

qbittorrent:
  path: charts/apps/media-management/qbittorrent

qui:
  path: charts/apps/media-management/qui

prowlarr:
  path: charts/apps/media-management/prowlarr

jellystat:
  path: charts/apps/media-management/jellystat

seerr:
  path: charts/apps/media-management/seerr

wizarr:
  path: charts/apps/media-management/wizarr

immich:
  path: charts/apps/media-management/immich

nextcloud:
  path: charts/apps/media-management/nextcloud

plex:
  path: charts/apps/media-management/plex

tautulli:
  path: charts/apps/media-management/tautulli

watchstate:
  path: charts/apps/media-management/watchstate

lingarr:
  path: charts/apps/media-management/lingarr

maintainerr:
  path: charts/apps/media-management/maintainerr