image: ghcr.io/paperless-ngx/paperless-ngx:2.20.1
namespace: &namespace utility-services

redis:
  namespaceOverride: *namespace
  architecture: standalone
  master: 
    revisionHistoryLimit: 1
    persistence: 
      enabled: false
  auth:
    enabled: false
    usePasswordFiles: false

host:
  subdomain: paperless-ngx

secrets:
  domain:
    key: homeDomain
    path: kv/data/domains

storage:
  appdataBasePath: /mnt/hdd/documents/paperless-ngx
  volumes:
  - name: data
    subPath: data
    podPath: /usr/src/paperless/data
    type: DirectoryOrCreate
    readOnly: false
  - name: media
    subPath: media
    podPath: /usr/src/paperless/media
    type: DirectoryOrCreate
    readOnly: false
  - name: export
    subPath: export
    podPath: /usr/src/paperless/export
    type: DirectoryOrCreate
    readOnly: false
  - name: consume
    subPath: consume
    podPath: /usr/src/paperless/consume
    type: DirectoryOrCreate
    readOnly: false

service:
  type: ClusterIP
  ports:
  - name: http
    containerPort: 8000
    externalPort: 8085
    protocol: TCP
  
