apiVersion: networking.alm.homelab/v1
kind: IngressRequest
metadata:
  name: {{ .Release.Name }}
spec:
  vaultPath: {{ .Values.secrets.primaryDomain.path }}
  domainKey: {{ .Values.secrets.primaryDomain.key }}
  serviceName: {{ .Release.Name }}-server
  servicePort: http
  subdomain: {{ .Values.host.subdomain }}
  entrypoints:
    - websecure
  tls:
    certResolver: letsencrypt
  middlewares:
  - name: bouncer
    namespace: core-services
  - name: {{ .Release.Name }}-buffering
    namespace: {{ .Values.namespace }}
---
apiVersion: networking.alm.homelab/v1
kind: IngressRequest
metadata:
  name: {{ .Release.Name }}-local
spec:
  vaultPath: {{ .Values.secrets.homeDomain.path }}
  domainKey: {{ .Values.secrets.homeDomain.key }}
  serviceName: {{ .Release.Name }}-server
  servicePort: http
  subdomain: {{ .Values.host.subdomain }}
  entrypoints:
    - websecure
  tls:
    secretName: {{ .Release.Name }}-certificate-secret
  middlewares:
  - name: {{ .Release.Name }}-buffering
    namespace: {{ .Values.namespace }}