image: ghcr.io/open-webui/open-webui:v0.6.36
namespace: ai-services

host:
  subdomain: ollama

secrets:
  primaryDomain:
    key: primaryDomain
    path: kv/data/domains

storage:
  appdataBasePath: /srv/appdata/ai-services/ollama-webui
  volumes:
  - name: config
    subPath: config
    podPath: /app/backend/data
    type: DirectoryOrCreate
    readOnly: false

service:
  type: ClusterIP
  ports:
  - name: http
    containerPort: 8080
    externalPort: 8088
    protocol: TCP