# https://github.com/crowdsecurity/helm-charts/blob/main/charts/crowdsec/values.yaml

crowdsec:
  container_runtime: containerd
  image:
    repository: crowdsecurity/crowdsec
    tag: v1.7.6
  agent:
    # Specify each pod whose logs you want to process
    acquisition:
      # The namespace where the pod is located
      - namespace: core-services
        # The pod name
        podName: traefik-*
        # as in crowdsec configuration, we need to specify the program name to find a matching parser
        program: traefik
      - namespace: core-services
        # The pod name
        podName: authentik-server*
        # as in crowdsec configuration, we need to specify the program name to find a matching parser
        program: authentik
    env:
      - name: COLLECTIONS
        value: "crowdsecurity/traefik firix/authentik crowdsecurity/plex"
      - name: CROWDSEC_BYPASS_DB_VOLUME_CHECK 
        value: "TRUE"
  lapi:
    env:
      # To enroll the Security Engine to the console
      - name: ENROLL_KEY
        valueFrom:
          secretKeyRef:
            name: crowdsec
            key: ENROLL_KEY
      - name: ENROLL_INSTANCE_NAME
        value: "homeserver"
      - name: ENROLL_TAGS
        value: "k8s linux"
      - name: BOUNCER_KEY_traefik
        valueFrom:
          secretKeyRef:
            name: crowdsec
            key: BOUNCER_KEY_traefik
    secrets:
      csLapiSecret:
        valueFrom:
          secretKeyRef:
            name: crowdsec
            key: CS_LAPI_SECRET
      registrationToken:
        valueFrom:
          secretKeyRef:
            name: crowdsec
            key: registrationToken
  secrets:
    username:
      valueFrom:
        secretKeyRef:
          name: crowdsec
          key: USERNAME
    password:
      valueFrom:
        secretKeyRef:
          name: crowdsec
          key: PASSWORD
  config: 
    config.yaml.local: |
      api:
        server:
          auto_registration: 
            enabled: true
            token: "${REGISTRATION_TOKEN}"
            allowed_ranges:
              - "127.0.0.1/32"
              - "10.0.0.0/8"