kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Values.namespace }}
data:
  PUID: "1000"
  PGID: "1000"
  TZ: {{ .Values.env.TZ | quote }}
  TITLE: {{ .Values.env.TITLE | quote }}
  MAX_RES: {{ .Values.env.MAX_RES | quote }}
