apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
  annotations:
    reloader.stakater.com/auto: "true"
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}
  replicas: 1
  revisionHistoryLimit: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}
    spec:
      volumes:
      - name: {{ .Release.Name }}
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}
      containers:
        - name: {{ .Release.Name }}
          image: {{ .Values.image }}
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}
          env:
            - name: SECURITY_OAUTH2_ISSUER
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-oauth2
                  key: issuer
            - name: SECURITY_OAUTH2_CLIENTID
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-oauth2
                  key: clientId
            - name: SECURITY_OAUTH2_CLIENTSECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-oauth2
                  key: clientSecret
          ports:
            {{- range $key, $val := $.Values.service.ports }}
            - containerPort: {{ $val.containerPort }}
              name: {{ $val.name }}
              protocol: {{ $val.protocol }}
            {{- end }}
          volumeMounts:
          {{- range $index, $val := $.Values.storage.volumes }}
          - mountPath: {{ $val.podPath }}
            name: {{ $.Release.Name }}
            subPath: {{ $val.subPath }}
          {{ end -}}
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - >-
                  curl -f http://localhost:8080/api/v1/info/status |
                  grep -q 'UP' && curl -fL http://localhost:8080/ |
                  grep -qv 'Please sign in'
            failureThreshold: 5
            periodSeconds: 10
            timeoutSeconds: 5
