apiVersion: networking.alm.homelab/v1
kind: IngressRequest
metadata:
  name: {{ .Release.Name }}
spec:
  vaultPath: {{ .Values.secrets.domain.path }}
  domainKey: {{ .Values.secrets.domain.key }}
  serviceName: {{ .Release.Name }}-{{ .Release.Name }}-chart
  servicePort: http
  subdomain: {{ .Values.host.subdomain }}
  entrypoints:
    - websecure
  middlewares:
  - name: bouncer
    namespace: core-services
  tls:
    certResolver: letsencrypt