# https://github.com/bitnami/charts/blob/main/bitnami/postgresql/values.yaml
namespace: &namespace core-services
postgresqlDataPath: /srv/appdata/core-services/postgresql

postgresql:
  enabled: true
  namespaceOverride: *namespace
  primary:
    persistence:
      storageClass: manual
      existingClaim: postgresql-pvc
    containerSecurityContext:
      readOnlyRootFilesystem: false
    resourcesPreset: large
  global:
    postgresql:
      auth:
        username: postgres
        existingSecret: postgresql
        secretKeys:
          adminPasswordKey: password
          userPasswordKey: password