image: vaultwarden/server:1.35.1
namespace: utility-services

host:
  subdomain: vault

secrets:
  domain:
    key: primaryDomain
    path: kv/data/domains

storage:
  appdataBasePath: /srv/appdata
  volumes:
  - name: data
    subPath: data
    podPath: /data
    type: DirectoryOrCreate

service:
  type: ClusterIP
  ports:
  - name: http
    containerPort: 80
    externalPort: 9765
    protocol: TCP
  