apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
  {{- range .Values.service.ports }}
  - port: {{ .externalPort }}
    targetPort: {{ .containerPort }}
    protocol: {{ .protocol }}
    name: {{ .name }}
  {{- end }}
  selector:
    app.kubernetes.io/name: {{ .Release.Name }}
